.card-btn{
    width: 20px !important;
    border-radius: 5px !important;
    margin: .5rem;
}

.card-title{
    margin: .5rem;
    padding: .5rem;
}

.description{
    font-size: .75rem;
}

.modal{
    display: block !important;
    top: 25% !important;
}

.close-popup{
    width: 7%;
    height: 90%;
}


._loading_overlay_overlay{
    background-color: black !important;
    color: black;
    font-size: 2rem;
    font-weight: bold;
    margin:auto;
    padding: auto;
}