html body{
  background-color: #f0f3fa;
}

.btn{
  background-color: #0855b1 !important;
  border: none !important;
}

.btn:hover{
  background-color: #63a2e0 !important;
  border: none !important;
}

#navbar-brand{
  color: #0855b1;
  text-shadow: 1.5px 1.5px .5px #63a2e0;
  font-size: 1.75rem;
}

.nav-link{
  color: #0855b1 !important;
  font-weight: bold !important;
}

.active{
  color: white !important;
  background-color: #63a2e0 !important;
}

#brand{
  color: #0855b1;
  text-shadow: 2px 2px 1px #63a2e0;
  font-size: 3rem;
}

h4{
  color:#0E1F2C !important;
}
